body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2rem;
    text-align: center;
    overflow-y: scroll;
    background-color: #b3c38c;
}
main {
    max-width: 600px;
    margin: 0 auto;
}
h1 {
    color: #333;
    margin-bottom: 1rem;
}

section {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 1. 2rem ;
    font-weight: bold;
    color: #57565a;
}

input[type="number"] {
    padding: 0.5rem;
    font-size: 1rem;
    width: 80%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

button {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    background-color: #b4e075;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7cd459;
}       

#output {
  height: 100px;
  overflow-y: auto;
  font-size: 1.5rem;
  color: #222;
  font-weight: bold;
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}


#history {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #666;
    font-weight: bold;
    text-align: left;
    background-color: #fff;
    padding: 1rem;
    
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}